[Unit]
Description=Remove empty home directories (Desktop/Downloads)

[Service]
ExecStart=/home/ryan/.bin/rbin/emptyd
Restart=on-abort

[Install]
WantedBy=multi-user.target
