[Unit]
Description=Remove empty home directories (Desktop/Downloads)

[Service]
ExecStart=/usr/bin/env emptyd
Restart=on-abort
User=%i
Group=users

[Install]
WantedBy=multi-user.target
