################################################################################
# .gitconfig
#
# Maintained By: Ryan Jacobs <ryan.mjacobs@gmail.com>
# March 18, 2014 -> File creation.
#  June 19, 2014 -> Vimdiff as default difftool.
################################################################################

[user]
	email = ryan.mjacobs@gmail.com
	name = Ryan Jacobs
[push]
	default = simple
[core]
	excludesfile = .gitignore
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[alias]
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
