################################################################################
# .gitignore
#
# .gitignore file for my dotfiles and bin directory.
#
# Author: Ryan Jacob <ryan.mjacobs@gmail.com>
#  May 29, 2014 -> File creation.
# June 19, 2014 -> Ignore vnc logs, vnc pids, and vnc passwds.
# July 05, 2014 -> Ignore Vim .swp and .swo files.
# Oct. 06, 2014 -> Ignore all .vnc/ files but xstartup.
################################################################################
.bin/dwm
.bin/simple_uptime

.bin/minecraft_files/minecraft_server/
.bin/minecraft_files/minecraft_server.1.7.9.jar

.vim/.netrwhist
.*.swp
.*.swo

.vnc/*
!.vnc/xstartup

.irssi/away.log
.irssi/config.autosave
.irssi/default.theme

.vim/bundle/**
.env
