[submodule ".vim/bundle/vim-arduino"]
	path = .vim/bundle/vim-arduino
	url = git://github.com/ryanmjacobs/vim-arduino
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "third_party/hhighlighter"]
	path = third_party/hhighlighter
	url = https://github.com/ryanmjacobs/hhighlighter
