################################################################################
# .gitconfig
#
# Maintained By: Ryan Jacobs <ryan.mjacobs@gmail.com>
# March 18, 2014 -> Initial creation.
#  June 19, 2014 -> Vimdiff as default difftool.
################################################################################

[user]
	email = ryan.mjacobs@gmail.com
	name = Ryan Jacobs
[push]
	default = simple
[core]
	excludesfile = .gitignore
[diff]
	tool = vimdiff
