!###############################################################################
! .Xresources
!
! Author: Ryan Jacobs <ryan.mjacobs@gmail.com>
!
! March 22, 2014 -> File creation.
! April 15, 2014 -> Disabled terminal visual bell.
! April 16, 2014 -> Added 'Modern Terminal Functionality'.
!###############################################################################

Xcursor.size: 16

! Global color
*customization: -color

!###############################################################################
! XTerm Settings
!###############################################################################
 
!###############################################################################
! Modern Terminal Functionality
! =============================
!
! Scrolling:
!   Scroll Wheel
!   Shift-PgUp/PgDn
!
! Copy/Paste:
!   Mouse-Select        : Copy to PRIMARY
!   Shift + Mouse-Select: Copy to CLIPBOARD
!
!   Middle-Click        : Paste from PRIMARY
!   Shift + Middle-Click: Paste from CLIPBOARD
!
!   Ctrl+Shift+V        : Paste from CLIPBOARD
!   Ctrl+Alt+Shift+V    : Paste from PRIMARY
!
! 
*VT100.Translations: #override \
    Shift <Key>Up:              scroll-back(1) \n\
    Shift <Key>Down:            scroll-forw(1) \n\
   ~Meta Shift Ctrl <Key>V:    insert-selection(CLIPBOARD) \n\
    Meta Shift Ctrl <Key>V:    insert-selection(PRIMARY) \n\
   ~Shift <Btn1Up>:            select-end(PRIMARY, CUT_BUFFER0) \n\
    Shift <Btn1Up>:            select-end(CLIPBOARD, CUT_BUFFER1) \n\
   ~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(PRIMARY, CUT_BUFFER0) \n\
    Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1) 
!###############################################################################

! Hotkeys for increasing/decresing font-size
XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font()
 
! Enable ALT shortcuts for programs
XTerm.metaSendsEscape: true

! Enable both the PRIMARY and CLIPBOARD clipboards
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

! Disable bold and use color instead
XTerm*colorBDMode: false
XTerm*colorBD: rgb:73/d2/16

! Display newlines when highlighting text
XTerm*highlightSelection: true

! Misc. Settings
XTerm*termName: xterm-256color
XTerm*visualBell: false
XTerm*faceName: Terminus
XTerm*faceSize: 9
XTerm*saveLines: 32768
XTerm*scrollBar: false
XTerm*geometry: 80x24
XTerm*cursorBlink: true
XTerm*eightBitInput: false
XTerm*scrollTtyOutput: true
XTerm*cursorColor: white

!=======================================
! Tango Terminal Colors
!=======================================
XTerm*foreground: #EEEEEC
XTerm*background: #000000
! Black
XTerm*color0: #2e3436
XTerm*color8: #555753
! Red
XTerm*color1: #cc0000
XTerm*color9: #ef2929
! Green
XTerm*color2: #4e9a06
XTerm*color10: #8ae234
! Yellow
XTerm*color3: #c4a000
XTerm*color11: #fce94f
! Blue
XTerm*color4: #3465a4
XTerm*color12: #729fcf
! Magenta
XTerm*color5: #75507b
XTerm*color13: #ad7fa8
! Cyan
XTerm*color6: #0b939b
XTerm*color14: #00f5e9
! White
XTerm*color7: #d3d7cf
XTerm*color15: #eeeeec

Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
